@reference "tailwindcss";

@layer components {
  .tabs {
    display: flex;
    flex-direction: column;
  }

  .tabsList {
    --background: var(--background-800);
    --border: var(--background-700);
    --indicator-background: var(--background-700);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-decoration: none !important;
    @apply p-1;

    &[data-variant="default"] {
      background-color: var(--background);
      border: var(--border-width-base) solid var(--border);
      border-radius: var(--radius-lg);
    }

    &[data-variant="underline"] {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }

  .indicator {
    position: absolute;
    pointer-events: none;
    transition: all 300ms var(--ease-gentle-ease);
    background-color: var(--indicator-background);
  }

  .indicatorDefault {
    border-radius: var(--radius-md);
  }

  .indicatorUnderline {
    --indicator-background: var(--accent-500);

    bottom: 0;
    height: 0.125rem;
  }

  .tabsTrigger {
    --foreground: var(--foreground-400);
    --foreground-hover: var(--foreground-200);
    --foreground-active: var(--foreground-50);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    font-family: inherit;
    font-weight: 500;
    font-size: var(--text-sm);
    line-height: var(--leading-snug);
    @apply gap-2 px-3 py-1.5 whitespace-nowrap;

    color: var(--foreground);
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    border-radius: var(--radius-md);
    transition: transform 150ms var(--ease-snappy-pop);

    &[data-focus-visible] {
      border-radius: 0px;
      outline: 1px solid var(--accent-500);
      outline-offset: 0px;
    }

    &[data-disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }

    @media (hover: hover) {
      &:hover:not([data-disabled]) {
        color: var(--foreground-hover);
      }
    }

    &:active:not([data-disabled]) {
      color: var(--foreground-active)
    }

    &[data-selected] {
      color: var(--foreground-active);
    }
  }

  .triggerIcon {
    display: flex;
    align-items: center;
  }

  .tabsContent {
    margin-top: 0.5rem;
    outline: none;

    &[data-focus-visible] {
      outline: 2px solid var(--accent-500);
      outline-offset: 2px;
    }
  }
}
