@import "tailwindcss";

@theme {
  --text-xs: 0.875rem;
  --text-sm: 1.000rem;
  --text-md: 1.000rem;
  --text-lg: clamp(1.125rem, 2.16vw, 1.380rem);
  --text-xl: clamp(1.250rem, 2.59vw, 1.656rem);
  --text-2xl: clamp(1.500rem, 3.11vw, 1.987rem);
  --text-3xl: clamp(1.763rem, 3.73vw, 2.385rem);
  --text-4xl: clamp(2.115rem, 4.48vw, 2.862rem);
  --text-5xl: clamp(2.538rem, 5.37vw, 3.434rem);

  --ease-smooth-settle: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-snappy-pop: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-gentle-ease: cubic-bezier(0.43, 0.13, 0.23, 0.96);

  --spacing-scale: 1;
  --spacing: clamp(0.200rem, 2.5vw, 0.250rem);

  --radius-ratio: 0.5;
  --radius-xs: 0.05rem;
  --radius-sm: 0.1rem;
  --radius-md: 0.3rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;

  --border-width-base: 1.0px;

  --color-background-500: oklch(50% 0 0);
  --color-background-600: oklch(32% 0 0);
  --color-background-700: oklch(26% 0 0);
  --color-background-800: oklch(23% 0 0);
  --color-background-900: oklch(21% 0 0);
  --color-background-950: oklch(18% 0 0);

  --color-foreground-50:  oklch(98% 0.000 0);
  --color-foreground-100: oklch(95% 0.000 0);
  --color-foreground-200: oklch(90% 0.000 0);
  --color-foreground-300: oklch(84% 0.000 0);
  --color-foreground-400: oklch(65% 0.000 0);
  --color-foreground-500: oklch(50% 0.000 0);
  --color-foreground-600: oklch(32% 0.000 0);
  --color-foreground-700: oklch(26% 0.000 0);
  --color-foreground-800: oklch(23% 0.000 0);
  --color-foreground-900: oklch(21% 0.000 0);
  --color-foreground-950: oklch(18% 0.000 0);

  --color-accent-50: oklch(12.0% 0.000 0.0);
  --color-accent-100: oklch(20.0% 0.000 0.0);
  --color-accent-200: oklch(32.0% 0.000 0.0);
  --color-accent-300: oklch(44.0% 0.000 0.0);
  --color-accent-400: oklch(58.0% 0.000 0.0);
  --color-accent-500: oklch(72.0% 0.000 0.0);
  --color-accent-600: oklch(91.0% 0.000 0.0);

  --background-500: var(--color-background-500, oklch(50% 0 0));
  --background-600: var(--color-background-600, oklch(32% 0 0));
  --background-700: var(--color-background-700, oklch(26% 0 0));
  --background-800: var(--color-background-800, oklch(23% 0 0));
  --background-900: var(--color-background-900, oklch(21% 0 0));
  --background-950: var(--color-background-950, oklch(18% 0 0));

  --foreground-50: var(--color-foreground-50, oklch(98% 0.000 0.0));
  --foreground-100: var(--color-foreground-100, oklch(95% 0.000 0.0));
  --foreground-200: var(--color-foreground-200, oklch(90% 0.000 0.0));
  --foreground-300: var(--color-foreground-300, oklch(84% 0.000 0.0));
  --foreground-400: var(--color-foreground-400, oklch(65% 0.000 0.0));
  --foreground-500: var(--color-foreground-500, oklch(50% 0.000 0.0));
  --foreground-600: var(--color-foreground-600, oklch(32% 0.000 0.0));
  --foreground-700: var(--color-foreground-700, oklch(26% 0.000 0.0));
  --foreground-800: var(--color-foreground-800, oklch(23% 0.000 0.0));
  --foreground-900: var(--color-foreground-900, oklch(21% 0.000 0.0));
  --foreground-950: var(--color-foreground-950, oklch(18% 0.000 0.0));

  --accent-50: var(--color-accent-50, oklch(12.0% 0.000 0.0));
  --accent-100: var(--color-accent-100, oklch(20.0% 0.000 0.0));
  --accent-200: var(--color-accent-200, oklch(32.0% 0.000 0.0));
  --accent-300: var(--color-accent-300, oklch(44.0% 0.000 0.0));
  --accent-400: var(--color-accent-400, oklch(58.0% 0.000 0.0));
  --accent-500: var(--color-accent-500, oklch(72.0% 0.000 0.0));
  --accent-600: var(--color-accent-600, oklch(91.0% 0.000 0.0));

  --color-success-50: var(--success-50, oklch(16.0% 0.000 142.0));
  --color-success-100: var(--success-100, oklch(29.0% 0.016 142.0));
  --color-success-200: var(--success-200, oklch(31.0% 0.032 142.0));
  --color-success-300: var(--success-300, oklch(42.0% 0.056 142.0));
  --color-success-400: var(--success-400, oklch(55.0% 0.080 142.0));
  --color-success-500: var(--success-500, oklch(60.0% 0.112 142.0));
  --color-success-600: var(--success-600, oklch(80.0% 0.144 142.0));

  --color-danger-50: var(--danger-50, oklch(16.0% 0.000 25.0));
  --color-danger-100: var(--danger-100, oklch(29.0% 0.015 25.0));
  --color-danger-200: var(--danger-200, oklch(31.0% 0.030 25.0));
  --color-danger-300: var(--danger-300, oklch(42.0% 0.053 25.0));
  --color-danger-400: var(--danger-400, oklch(55.0% 0.075 25.0));
  --color-danger-500: var(--danger-500, oklch(60.0% 0.105 25.0));
  --color-danger-600: var(--danger-600, oklch(80.0% 0.135 25.0));

  --color-warning-50: var(--warning-50, oklch(16.0% 0.000 65.0));
  --color-warning-100: var(--warning-100, oklch(29.0% 0.015 65.0));
  --color-warning-200: var(--warning-200, oklch(31.0% 0.030 65.0));
  --color-warning-300: var(--warning-300, oklch(42.0% 0.053 65.0));
  --color-warning-400: var(--warning-400, oklch(55.0% 0.075 65.0));
  --color-warning-500: var(--warning-500, oklch(60.0% 0.105 65.0));
  --color-warning-600: var(--warning-600, oklch(80.0% 0.135 65.0));

  --color-info-50: var(--info-50, oklch(16.0% 0.000 255.0));
  --color-info-100: var(--info-100, oklch(29.0% 0.015 255.0));
  --color-info-200: var(--info-200, oklch(31.0% 0.030 255.0));
  --color-info-300: var(--info-300, oklch(42.0% 0.053 255.0));
  --color-info-400: var(--info-400, oklch(55.0% 0.075 255.0));
  --color-info-500: var(--info-500, oklch(60.0% 0.105 255.0));
  --color-info-600: var(--info-600, oklch(80.0% 0.135 255.0));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6rem 0 ;
    font-weight: var(--font-weight-semibold);
  }

  h1 {
    margin: 0rem 0 0.6rem 0;
    font-size: var(--text-xl);
    letter-spacing: var(--letter-spacing-xl);
    font-weight: var(--font-weight-bold);
  }

  h2 {
    margin: 0rem 0 0.4rem 0 ;
    font-size: var(--text-xl);
    letter-spacing: var(--letter-spacing-xl);
  }

  h3 {
    margin: 0 0 0 0 ;
    font-size: var(--text-lg);
    letter-spacing: var(--letter-spacing-lg);
  }

  h4 {
    margin: 0 0 0 0 ;
    font-size: var(--text-md);
    letter-spacing: var(--letter-spacing-md);
  }

  p {
    font-size: var(--text-md);
    letter-spacing: var(--letter-spacing-md);
    font-weight: var(--font-weight-normal);
    max-width: 80ch;
    margin: 0 0 0.4rem 0;
  }
}
