@reference "tailwindcss";

@layer components {
  .root {
    position: relative;
  }

  .vertical {
    --scrollbar-width: 12px;
    min-height: 0;
  }

  .horizontal {
    --scrollbar-height: 12px;
  }

  .content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .vertical .content {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 16px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .vertical .content::-webkit-scrollbar {
    display: none;
  }

  .horizontal .content {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 16px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .horizontal .content::-webkit-scrollbar {
    display: none;
  }

  .track {
    position: absolute;
    z-index: 10;
  }

  .track[data-hide="true"] {
    transition-property: opacity;
    transition-duration: 200ms;
  }

  .vertical .track {
    right: 4px;
    top: var(--scroll-padding-y, 0);
    width: 12px;
    height: calc(100% - 2 * var(--scroll-padding-y, 0));
    background-color: transparent;
    box-sizing: border-box;
  }

  .horizontal .track {
    bottom: 2px;
    left: 0;
    height: 12px;
    width: 100%;
    background-color: transparent;
  }

  .thumb {
    position: absolute;
    border-radius: calc(var(--radius-xs) * 0.80);
    background-color: var(--background-700);
    transition-property: background-color, width, height;
    transition-duration: 150ms;
  }

  .thumb:hover {
    background-color: var(--background-600);
  }

  .root[data-dragging="true"] .thumb {
    background-color: var(--background-500);
  }

  .vertical .thumb {
    width: 6px;
    margin-left: 6px;
    transition-property: background-color, width, margin-left;
    transition-duration: 150ms;
  }

  .vertical .thumb:hover {
    width: 8px;
    margin-left: 4px;
  }

  .vertical[data-dragging="true"] .thumb {
    width: 8px;
    margin-left: 4px;
  }

  .horizontal .thumb {
    height: 6px;
    margin-top: 6px;
    transition-property: background-color, height, margin-top;
    transition-duration: 150ms;
  }

  .horizontal .thumb:hover {
    height: 8px;
    margin-top: 4px;
  }

  .horizontal[data-dragging="true"] .thumb {
    height: 8px;
    margin-top: 4px;
  }
}
