@reference "tailwindcss";

@layer components {
  .root {
    position: relative;
  }

  .vertical {
    --scrollbar-width: 12px;
  }

  .horizontal {
    --scrollbar-height: 12px;
  }

  .content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .vertical .content {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 12px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .vertical .content::-webkit-scrollbar {
    display: none;
  }

  .vertical .content[data-fade-y="true"] {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 4%,
      black 96%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 4%,
      black 96%,
      transparent 100%
    );
  }

  .horizontal .content {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .horizontal .content::-webkit-scrollbar {
    display: none;
  }

  .track {
    position: absolute;
    z-index: 10;
    transition-property: opacity;
    transition-duration: 200ms;
  }

  .vertical .track {
    right: 0;
    top: 0;
    width: 12px;
    height: 100%;
    background-color: transparent;
  }

  .horizontal .track {
    bottom: 0;
    left: 0;
    height: 12px;
    width: 100%;
    background-color: transparent;
  }

  .thumb {
    position: absolute;
    border-radius: var(--radius-md);
    background-color: var(--background-700);
    transition-property: background-color, width, height;
    transition-duration: 150ms;
  }

  .thumb:hover {
    background-color: var(--background-600);
  }

  .root[data-dragging="true"] .thumb {
    background-color: var(--background-500);
  }

  .vertical .thumb {
    width: 6px;
    margin-left: 6px;
    transition-property: background-color, width, margin-left;
    transition-duration: 150ms;
  }

  .vertical .thumb:hover {
    width: 8px;
    margin-left: 4px;
  }

  .root[data-dragging="true"] .vertical .thumb {
    width: 8px;
    margin-left: 4px;
  }

  .horizontal .thumb {
    height: 6px;
    margin-top: 6px;
    transition-property: background-color, height, margin-top;
    transition-duration: 150ms;
  }

  .horizontal .thumb:hover {
    height: 8px;
    margin-top: 4px;
  }

  .root[data-dragging="true"] .horizontal .thumb {
    height: 8px;
    margin-top: 4px;
  }
}
