.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  min-height: 350px;
  background-color: rgb(var(--color-background-900));
  border: 1px solid rgb(var(--color-background-700));
  border-radius: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

.headline {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(var(--color-foreground-50));
  text-align: center;
  margin: 0;
}

.subheading {
  font-size: 0.875rem;
  color: rgb(var(--color-foreground-400));
  text-align: center;
  margin: 0;
}

.formContainer {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  max-width: 400px;
}

.successMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: rgb(var(--color-success-500));
  text-align: center;
}
