@reference "tailwindcss";

@layer components {
  .switch {
    --track-background-unchecked: var(--background-700);
    --track-background-checked: var(--accent-500);
    --track-background-hover: var(--accent-600);
    --track-background-active: var(--accent-600);
    --track-background-disabled: var(--background-800);
    --thumb-background-unchecked: var(--background-500);
    --thumb-background-checked: var(--accent-50);
    --border: var(--background-700);
    --border-hover: var(--accent-500);
    --border-active: var(--accent-600);

    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .switch-track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 180ms var(--ease-snappy-pop), border-color 180ms var(--ease-snappy-pop);
    background-color: var(--track-background-unchecked);
    border: var(--border-width-base) solid var(--border);
    border-radius: var(--radius-md);
  }

  .switch:active:not([data-disabled]) .switch-track {
    transform: scale(0.98);
  }

  .switch-thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: left 180ms var(--ease-snappy-pop), background-color 180ms var(--ease-snappy-pop);
    background-color: var(--thumb-background-unchecked);
    border-radius: var(--radius-md);
    z-index: 1;
    pointer-events: none;
  }

  .switch[data-selected] .switch-track {
    background-color: var(--track-background-checked);
    border-color: var(--accent-500);
  }

  .switch[data-selected] .switch-thumb {
    background-color: var(--thumb-background-checked);
  }

  @media (hover: hover) {
    .switch[data-selected]:not([data-disabled]):hover .switch-track {
      border-color: var(--border-hover);
    }
  }

  .switch[data-selected]:not([data-disabled]):active .switch-track {
    border-color: var(--border-active);
  }

  .switch[data-disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.sm {
  width: 2.5rem;
  height: 1.5rem;
}

.sm .switch-thumb {
  width: 1rem;
  height: 1rem;
}

.md {
  width: 3rem;
  height: 1.75rem;
}

.md .switch-thumb {
  width: 1.25rem;
  height: 1.25rem;
}

.lg {
  width: 3.5rem;
  height: 2rem;
}

.lg .switch-thumb {
  width: 1.5rem;
  height: 1.5rem;
}

.pill {
  border-radius: 9999px;
}

.pill .switch-track {
  border-radius: 9999px;
}

.pill .switch-thumb {
  border-radius: 9999px;
}

.round {
  border-radius: 0.375rem;
}

.round .switch-track {
  border-radius: 0.375rem;
}

.round .switch-thumb {
  border-radius: 0.375rem;
}

.switch[data-focus-visible] {
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--accent-500) 40%, transparent);
}
