@reference "tailwindcss";

@layer components {
  .button {
    @apply px-3 py-1;

    --ring-color: var(--accent-500);
    --background: var(--background-800);
    --foreground: var(--foreground-300);
    --border: var(--border-width-base) solid var(--background-700);

    background-color: var(--background);
    color: var(--foreground);
    border: var(--border);
    border-radius: var(--radius-sm);

    font-weight: var(--font-weight-medium);
    font-size: var(--text-md);
    line-height: var(--leading-snug);

    transition: background-color 0.15s ease-out, border-color 0.15s ease-out, transform 0.15s ease-out, filter 0.15s ease-out, color 0.15s ease-out;
    filter: invert(0%);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: inherit;
    user-select: none;
    cursor: pointer;

    &:focus-visible {
      box-shadow: 0 0 0 3px var(--ring-color);
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      filter: none;
    }

    &:hover:not(:disabled) {
      filter: invert(7.5%); 
      border: var(--border);
    }
  }

  .button.primary {
    --background: var(--accent-600);
    --foreground: var(--accent-50);
    --border: var(--border-width-base) solid var(--background);
  }

  .button.default {
    --background: var(--background-800);
    --foreground: var(--foreground-300);
    --border: var(--border-width-base) solid var(--background-700);
  }

  .button.secondary {
    --background: var(--background-700);
    --foreground: var(--foreground-300);
    --border: var(--border-width-base) solid var(--background-600);
  }

  .button.outline {
    --background: transparent;
    --foreground: var(--foreground-300);
    --border: var(--border-width-base) solid var(--background-700);

    outline-style: unset !important;
    
    &:hover:not(:disabled) {
       background-color: var(--background-800); /* Optional: explicit hover bg */
    }
  }

  .button.ghost {
    --background: transparent;
    --foreground: var(--foreground-300);
    --border: var(--border-width-base) solid transparent;

    @media (hover: hover) {
      &:hover:not(:disabled) {
        background-color: var(--background-900);
      }
    }
  }

  .button.danger {
    --background: var(--danger-600);
    --foreground: var(--background-900);
    --border: var(--border-width-base) solid var(--danger-700);
    --ring-color: var(--danger-600);
  }

  .button.sm {
    @apply px-3 py-1.5;
    font-size: var(--text-sm);
  }

  .button.md {
    @apply px-4 py-1.5;
    font-size: var(--text-sm);
  }

  .button.lg {
    @apply px-7 py-1.5;
    font-size: var(--text-sm);
  }

  .icon-sm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    flex-shrink: 0;
  }
}
