@reference "tailwindcss";

@layer components {
  .anchor {
    display: inline;
  }

  .preview {
    display: inline;
  }

  .trigger {
    --underline-background: var(--background-600);

    display: inline;
    position: relative;
    color: var(--foreground-200);
    text-decoration: none;
    cursor: pointer;
    transition: color 150ms var(--ease-gentle-ease);

    /* Underline animation on hover */
    @media (hover: hover) {
      &:hover {
        color: var(--foreground-0);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--color-background-600);
      outline-offset: 2px;
      border-radius: 2px;
    }
  }

  .underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background: var(--underline-background);
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 150ms var(--ease-gentle-ease);
    pointer-events: none;
  }

  @media (hover: hover) {
    .trigger:hover .underline {
      transform: scaleX(1);
    }
  }
}
