@reference "tailwindcss";

@layer components {
  .container {
    --background: var(--background-950);
    --border: var(--background-700);
    --foreground: var(--foreground-50);

    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background);
    border-left: var(--border-width-base) solid var(--border);
    border-right: var(--border-width-base) solid var(--border);
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--foreground);
  }

  .header {
    --background: var(--background-900);
    --border: var(--background-700);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background);
    backdrop-filter: blur(12px);
    border-bottom: var(--border-width-base) solid var(--border);
    z-index: 10;
  }

  .header.sticky {
    position: sticky;
    top: 0;
  }

  .header > :first-child {
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--foreground-50);
  }

  .header > :last-child {
    color: var(--foreground-400);
  }

  .item {
    --background: var(--background-950);
    --background-hover: var(--background-900);
    --background-selected: var(--background-900);
    --border: var(--background-800);

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    border-bottom: var(--border-width-base) solid var(--border);
    transition: background-color 300ms var(--ease-snappy-pop);
    background-color: var(--background);
  }

  .item[data-interactive="true"] {
    cursor: pointer;
  }

  .item[data-interactive="true"]:hover {
    background-color: var(--background-hover);
  }

  .item[data-selected="true"] {
    background-color: var(--background-selected);
  }

  .actionGroup {
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .actionGroup[data-justify="space-between"] {
    justify-content: space-between;
  }

  .actionGroup[data-justify="flex-start"] {
    justify-content: flex-start;
  }

  .actionGroup[data-justify="flex-end"] {
    justify-content: flex-end;
  }

  .divider {
    --border: var(--background-700);

    border-top: var(--border-width-base) solid var(--border);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .footer {
    padding: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
  }

  .footer[data-align="center"] {
    justify-content: center;
  }

  .footer[data-align="flex-start"] {
    justify-content: flex-start;
  }

  .footer[data-align="flex-end"] {
    justify-content: flex-end;
  }
}
