@reference "tailwindcss";

@layer components {
  .input {
    --background: var(--background-950);
    --foreground: var(--foreground-50);
    --placeholder: var(--foreground-500);
    --border: var(--background-700);
    --background-hover: var(--background-700);
    --border-hover: var(--background-600);
    --ring-color: var(--accent-500);

    width: 100%;
    display: block;
    font-family: inherit;
    font-size: var(--text-sm);
    line-height: var(--leading-snug);
    color: var(--foreground);
    background-color: var(--background);
    border: var(--border-width-base) solid var(--border);
    border-radius: var(--radius-md);
    @apply px-3 py-2;

    &::placeholder {
      color: var(--placeholder);
    }

    &[data-focus-visible] {
      outline: none;
      border-color: var(--ring-color);
      box-shadow: 0 0 0 2px color-mix(in srgb, var(--ring-color) 15%, transparent);
    }

    &[data-disabled] {
      background-color: var(--background-900);
      color: var(--foreground-500);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &[data-error] {
      --border: var(--danger-600);
      --ring-color: var(--danger-600);
      border-color: var(--danger-600);

      &[data-focus-visible] {
        border-color: var(--danger-600);
        box-shadow: 0 0 0 2px color-mix(in srgb, var(--danger-600) 25%, transparent);
      }
    }
  }

  .input[data-variant="ghost"] {
    --background: transparent;
    --border: transparent;
    --background-hover: transparent;
    --border-hover: transparent;

    &[data-focus-visible] {
      box-shadow: none;
    }
  }

  .input[data-size="sm"] {
    height: 2rem;
    font-size: var(--text-sm);
    @apply px-2 py-1;
  }

  .input[data-size="md"] {
    height: 2.5rem;
    font-size: var(--text-sm);
    @apply px-3 py-2;
  }

  .input[data-size="lg"] {
    height: 3rem;
    font-size: var(--text-base);
    @apply px-4 py-3;
  }

  .iconWrapper {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    color: var(--foreground-500);
    pointer-events: none;
    transform: translateY(-50%);
  }

  .prefixIcon {
    left: 1.00rem;
  }

  .suffixIcon {
    right: 1.00rem;
  }

  .container {
    position: relative;
    width: 100%;
  }
}
