@reference "tailwindcss";

@layer components {
  .mask {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.mask.mask-x {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 4%,
    black 96%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 4%,
    black 96%,
    transparent 100%
  );
}

.mask.mask-y {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 4%,
    black 96%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 4%,
    black 96%,
    transparent 100%
  );
}

.mask.mask-gradient {
  background: var(--mask-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
