@reference "tailwindcss";

@layer components {
  .mask {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.mask[style*="mask-image"],
.mask[style*="-webkit-mask-image"] {
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mask[style*="--mask-clip-path"] {
  clip-path: var(--mask-clip-path);
}


.mask-gradient {
  background: var(--mask-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
