@reference "tailwindcss";

@layer components {
  .container {
    --foreground: var(--foreground-50);

    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--foreground);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(12px);
    z-index: 10;
  }

  .header.sticky {
    position: sticky;
    top: 0;
  }

  .container[data-spacing="sm"] .header {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .header > :first-child {
    font-weight: var(--font-weight-semibold);
    font-size: 1.125rem;
    color: var(--foreground-50);
  }

  .header > :last-child {
    color: var(--foreground-400);
  }

  .item {
    --background-hover: var(--background-900);
    --background-highlighted: var(--background-800);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    @apply py-1 px-2;
    cursor: pointer;
  }

  .item:hover {
    background-color: var(--background-hover);
  }

  .item[data-highlighted="true"] {
    background-color: var(--background-highlighted);
  }

  .container[data-spacing="sm"] .item {
    padding: 0.5rem 0.75rem;
    gap: 0.375rem;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
  }

  .desc {
    font-size: 0.875rem;
    color: var(--foreground-400);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-group {
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .action-group[data-justify="space-between"] {
    justify-content: space-between;
  }

  .action-group[data-justify="flex-start"] {
    justify-content: flex-start;
  }

  .action-group[data-justify="flex-end"] {
    justify-content: flex-end;
  }

  .footer {
    padding: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
  }

  .footer[data-align="center"] {
    justify-content: center;
  }

  .footer[data-align="flex-start"] {
    justify-content: flex-start;
  }

  .footer[data-align="flex-end"] {
    justify-content: flex-end;
  }

  .container[data-spacing="sm"] .footer {
    padding: 0.375rem 0.75rem;
    padding-bottom: 0.375rem;
  }
}
