@reference "tailwindcss";

@layer components {
  .container {
    --foreground: var(--foreground-50);

    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    font-family: system-ui, -apple-system, sans-serif;
    color: var(--foreground);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(12px);
    z-index: 10;
  }

  .header.sticky {
    position: sticky;
    top: 0;
  }

  .header > :first-child {
    font-weight: var(--font-weight-semibold);
    font-size: 1.125rem;
    color: var(--foreground-50);
  }

  .header > :last-child {
    color: var(--foreground-400);
  }

  .item {
    --background-hover: var(--background-900);
    --background-selected: var(--background-900);

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    transition: background-color 300ms var(--ease-snappy-pop);
  }

  .item[data-interactive="true"] {
    cursor: pointer;
  }

  .item[data-interactive="true"]:hover {
    background-color: var(--background-hover);
  }

  .item[data-selected="true"] {
    background-color: var(--background-selected);
  }

  .actionGroup {
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .actionGroup[data-justify="space-between"] {
    justify-content: space-between;
  }

  .actionGroup[data-justify="flex-start"] {
    justify-content: flex-start;
  }

  .actionGroup[data-justify="flex-end"] {
    justify-content: flex-end;
  }

  .footer {
    padding: 1.5rem;
    padding-bottom: 3rem;
    display: flex;
  }

  .footer[data-align="center"] {
    justify-content: center;
  }

  .footer[data-align="flex-start"] {
    justify-content: flex-start;
  }

  .footer[data-align="flex-end"] {
    justify-content: flex-end;
  }
}
