@reference "tailwindcss"


#docs h1,
#docs h2,
#docs h3,
#docs h4,
#docs h5,
#docs h6 {
  margin: 0 0 0.6rem 0 ;
}

#docs h1 {
  font-size: var(--text-md);
  margin: 2.2rem 0 0.6rem 0 ;
}

#docs h2 {
  font-size: var(--text-sm);
  margin: 4.0rem 0 0.4rem 0 ;
}


#docs h3 {
  font-size: var(--text-sm);
  margin: 3.2rem 0 0.2rem 0;
}

#docs p {
  color: var(--foreground-400);
  max-width: 74ch;
  margin: 0.6rem 0 1.4rem 0;
}

#docs ul {
  margin: 0.4rem 0 2.6rem 0;
}

#docs .banner {
  @apply mt-12 mb-4
}

#docs .banner-content p, #docs .trigger p {
  @apply m-0
}

#docs .banner-title {
  @apply m-0 mb-2;
  font-size: var(--text-md)
} 

