.docs h1,
.docs h2,
.docs h3,
.docs h4,
.docs h5,
.docs h6 {
  font-size: var(--text-md) !important;
  margin: 0 0 0.6rem 0 ;
  font-weight: 600;
}


.docs p {
  font-size: var(--text-sm);
  max-width: 65ch;
  margin: 0 0 2.4rem 0;
}
