@reference "tailwindcss";

@layer components {
  .button {
    @apply px-3 py-1.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: 500;
    font-size: var(--text-md);
    line-height: var(--leading-snug);
    user-select: none;
    cursor: pointer;
    border: var(--border-width-base) solid var(--background-700);
    border-radius: var(--radius-md);
    transition: background-color 0.15s ease-out, border-color 0.15s ease-out, transform 0.15s ease-out;

    &:focus-visible {
      outline: 2px solid var(--blue);
      outline-offset: 2px;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:active:not(:disabled) {
      transform: scale(0.97);
    }
  }
}

.button.primary {
  background-color: var(--accent-500);
  color: var(--color-white);
  border-color: var(--accent-500);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--accent-400);
      border-color: var(--accent-400);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--accent-400);
    border-color: var(--accent-400);
  }
}

.button.secondary {
  background-color: var(--background-800);
  color: var(--foreground-50);
  border-color: var(--background-700);

  &:hover:not(:disabled) {
    background-color: var(--background-700);
    border-color: var(--background-700);
  }

  &:active:not(:disabled) {
    background-color: var(--background-600);
    border-color: var(--background-600);
  }
}

.button.outline {
  --border-hover: var(--background-700);
  outline: 1px solid var(--background-700);
  background-color: transparent;
  color: var(--foreground-50);

  &:hover:not(:disabled) {
    background-color: var(--background-800);
    border-color: var(--background-700);
  }

  &:active:not(:disabled) {
    background-color: var(--background-700);
    border-color: var(--background-600);
  }
}

.button.ghost {
  background-color: transparent;
  color: var(--foreground-50);
  border-color: transparent;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: var(--background-800);
      border-color: transparent;
    }
  }

  &:active:not(:disabled) {
    background-color: var(--background-700);
    border-color: transparent;
  }
}

.button.sm {
  @apply px-2.5 py-1 text-sm;
  font-size: var(--text-sm);
}

.button.md {
  @apply px-3 py-1.5;
  font-size: var(--text-md);
}

.button.lg {
  @apply px-4 py-2 text-lg;
  font-size: var(--text-lg);
}
