.frame {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateZ(0);
  padding: 0;
}

.content {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
